.signup-btn{
    background-color:#3A643B;
    border-width:0px;
    color:white;
    height:40px;
    width:100px;
    border-radius:20px;
}
.login-btn{
    background-color:#FFF7E2;
    border-width:2px;
    border-style:solid;
    border-color:#3A643B;
    height:40px;
    width:100px;
    border-radius:20px;
}
.Amrutam-heading{
    color:#3A643B;
    font-size:30px;
    font-weight:bold;
}
.nav-para{
    color:black;
    margin-top:8px;
    font-size:15px;
}
.margin{
    margin-left:auto;
}
.navContainer{
    background-color:#FFF7E2;
    
}